{% extends 'base.html' %} {% load static %} 

{% block content%}

          <div class =container>
          <h2 class="h5 text-uppercase mb-4">Favourate products</h2>
          <div class="row">

            {% if fav_products %}
              {% for f in fav_products %}
              
                <!-- PRODUCT-->
                <div class="col-lg-3 col-sm-6">
                  <div class="product text-center skel-loader">
                    <div class="d-block mb-3 position-relative">
                        {% if f.product.product_image %}
                          <img class="img-fluid w-100" src="{{f.product.product_image}}" alt="{{f.product.title}}">
                        {% else %}
                        <img class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="{{f.product.title}}">
                        {% endif %}
                      </a>

                      <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                          
                          <form action="{% url 'store:add-to-cart' %}">
                            <input type="hidden" name="prod_id" value="{{f.product.id}}" id="f.product_id">
                            <li class="list-inline-item m-0 p-0"></li>
                            <button type="submit" class="btn btn-sm btn-danger">Add to Cart</button>
                          </li>
                          </form>
                          
                        </ul>
                      </div>
                    </div>
                    <h6> <a class="reset-anchor">{{ f.product.title }}</a></h6>
                    <p class="small text-muted">${{f.product.price}}</p>
                    
                  </div>
                </div>

              {% endfor %}
            {% endif %}
            </div>

{% endblock content %}