{% extends 'base.html' %}
{% load static %}
{% load humanize %}

    {% block content %}

      <div class="container py-5">
        {% include 'partials/_messages.html' %}


        <div class="row">

          

          <div class="col-lg-12">
            <div class="card mb-4" id="tables">
              <div class="card-header text-center">Orders</div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Item</th>
                      <th>Image</th>
                      <th>Qty.</th>
                      <th>Ordered Date</th>
                      {% if orders %}
                      {% if order.status == 'On The Way' %}
                      <th>Status</th>
                      {% else %}
                      <th>Delete Items</th>
                      
                      <th>Status</th>{% endif %}
                      {%endif%}

                    </tr>
                  </thead>
                  <tbody>

                    {% if orders %}
                    

                    {% for order in orders %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{order.product.title}}</td>
                      <td>
                        {% if order.product.product_image %}
                          <img src="{{order.product.product_image}}" alt="{{order.product.product_title}}" style="width:150px;">
                        {% endif %}
                      </td>
                      <td>{{order.quantity}}</td>
                      <td>{{order.ordered_date|naturaltime}}</td>
                      {% if order.status == 'On The Way' %}
                      <h3>CANT REMOVE</h3>
                      {% else %}
                      <td>  
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal">Remove</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> {{user.username}} are you sure?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Product {{order.product.title}} will be deleted from your order list.
                              </div>
                              <div class="modal-footer">
                                <a
                    
                                    href="{% url 'store:remove-order' order.id %}"
                                    >
                                <button type="submit" class="btn btn-danger">Confirm</button></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                      </td>
                      {% endif %}
                      <td>

                        {% if order.status == 'Pending' %}
                        
                        {% endif %}

                        {% if order.status == 'Accepted' %}
                        <div class="bg-success border border-primary">
                            <div class="p-3 bg-primary" style="width:0;"></div>
                        </div>
                        {% endif %}

                        {% if order.status == 'Packed' %}
                        <div class="bg-success border border-primary">
                            <div class="p-3 bg-primary" style="width:40%;"></div>
                        </div>
                        {% endif %}
                        
                        
                        {% if order.status == 'On The Way' %}
                        <div class="bg-success border border-primary">
                            <div class="p-3 bg-primary" style="width:70%;"></div>
                        </div>
                        {% endif %}
                        
                        {% if order.status == 'Delivered' %}
                        <div class="bg-success border border-primary">
                            <div class="p-3 bg-success" style="width:100%;"></div>
                        </div>
                        {% endif %}

                        {% if order.status == 'Payed Already' %}
                        <div class="bg-success border border-danger">
                            <div class="p-3 bg-danger" style="width:100%;"></div>
                        </div>
                        {% endif %}
                        
                        {{order.status}}
                      </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
          
        </div>
    
        
        
      </div>
{% endblock content %}